body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0f2718, #31694b, #266439);
    font-family: 'Mukta Malar'
}


.nav-bar {
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: pink;
    border-radius: 20px;
}

.nav-bar .clickable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: x-large;
    border-bottom: 3px solid transparent;
    transition: 0.8s;
}

.nav-bar a:hover {
    border-color: rgb(0, 0, 0);
}

.nav-bar .clickable img{
    width: 40px ;    
    height: 40px;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}


.box {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
}

.box input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 5px;
	width: 100%;
}



.box.success input {
    border-color: #09c372;
}

.box.error input {
    border-color: #ff3860;
}

.box .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.signup-button {
    cursor: pointer;
    margin-left: 130px;
    border-radius: 10px;
    background-color: #2f42ee;
    color: aliceblue;
    font-weight: bolder;
    padding: 5px;
    transition: 0.3s;
}

.signup-button:hover {
    background-color: #09c372;
}