* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.layout {
    display: grid;
    grid-template-columns: 10vw, 80vw;
    grid-template-rows: 90vh auto;
}
.homeNavBar {
    width: 10vw;
    grid-column: 1;
    grid-row: 1;
}

.outlet {
    grid-column: 2;
    grid-row: 1;
}

.musicPlayer {
    grid-column: 1 / span 2;
}


