* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layout {
  display: grid;
  grid-template-rows: auto 15vh;
  grid-template-columns: 15vw 85vw;
  grid-template-areas:
    "homeNavBar outlet"
    "musicPlayer musicPlayer";
  height: 100vh;
  width: 100vw;
  position: relative;
  gap: 5px;
  overflow-x: hidden;
  color: #76c356;
}

.homeNavBar {
  position: absolute;
  z-index: 1;
  width: 15vw;
  height: 100vh;
  grid-area: homeNavBar;
  background-color: black;
  color: #76c356;
}

.outlet {
  grid-area: outlet;
  overflow: scroll;
  border: 2px solid black;
}

.musicPlayer {
  position: absolute;
  z-index: 1;
  grid-area: musicPlayer;
  color: whitesmoke;
  background-color: black;
  display: flex;
  align-items: flex-end;
  width: 100%;
  color: #76c356;
}
